
:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--background-color: #FFFFFF;
--second-background-color: #F5F4FA;
--contact-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo:hover, logo:focus {
    color: var(--accent-color);
}

ul {list-style: none;}

.nav-link {color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover, 
.nav-link:focus, 
.nav-link:cursor, 
.nav-link:pointer {color: var(--accent-color);}

.link {text-decoration: none;
    color: #2196F3;
}

.studia {color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.title-link {color: #212121;
    background-color: #F5F4FA;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}

.link-text {
    color: #212121;
    }
.text-site {color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;}  

.contacts {color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

.place {color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

    .visually-hidden {

    }

/* button */

.button {
        background-color: var(--accent-color);
        color: var(--background-color);
    }

   